<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
   	<link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
   	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    
    <!-- <link rel="stylesheet" type="text/css" href="/css/style.css"/> -->

    <title>Survey Entry</title>
</head>
<body>

    
  
    <div class="box-div">
            <h3 class="underline">Submitted Info</h3>
            <div class="inline-div">
                <p>Name: @ViewBag.Name</p>
                <p>Dojo Location: @ViewBag.Location</p>
                <p>Favorite Language:@ViewBag.Language</p>
                <p>Email Address:@ViewBag.Email</p>
                <p>Mobile Number:@ViewBag.Phone</p>
                <p>Comment:@ViewBag.Comment</p>
            </div>
            
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            
        </div>

</body>
</html>