<h6>
    <ul class=sidebyside>
    <li><a href="">Dashboard</a> | <a href="products">Products</a> | <a href="orders">Orders</a> |  <a href="customers">Customers</a> | <a href="settings">Settings</a></li>
    </ul>
</h6>