

<!-- <form asp-controller="Home" asp-action="success" method="post">
<span>
<! if model class is already imported up top, when setting asp, do not call on it again -->
<!-- asp-for only does validations, need name to take in the parameter -->
<!-- </span>
    <button type="submit">Dashboard</button>
</form> -->


<!-- <form asp-controller="Home" asp-action="logout" method="post">
<span> -->
<!-- if model class is already imported up top, when setting asp, do not call on it again -->
<!-- asp-for only does validations, need name to take in the parameter -->
<!-- </span>
    <button type="submit">Logout User</button>
</form> --> 


<button><a href="/success">Dashboard</button>
<button><a href="/logout">Logout</button>