@using RepeatRestaurant.Models;
@model RepeatRestaurant.Models.thisUserReview;


<link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- need aCTON AND METHOD STILL -->
<section id="contact" class="content-section text-center">
        <div class="contact-section">
            <div class="container">
              <h2>Write a new review</h2>
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <form action="/Process" method="post" class="form-horizontal">
                    <div class="form-group">
                      <label for="reviewer_name">Reviewer Name</label>
                      <input asp-for="reviewer_name" name="reviewer_Name" type="text" class="form-control" id="exampleInputName2" placeholder="What's your Name?">
                      <span asp-validation-for="reviewer_name"></span><br>
                    </div>
                    <div class="form-group">
                      <label for="restaurant_name">Restaurant Name</label>
                      <input asp-for="restaurant_name" name="restaurant_Name" type="text" class="form-control" id="exampleInputEmail2" placeholder="Which Restaurant was it?">
                      <span asp-validation-for="restaurant_name"></span><br>
                    </div>
                    <div class="form-group">
                      <label for="ReviewParagraph">Your Review</label>
                     <textarea asp-for="review" name="Review" class="form-control" rows="4" cols="50" placeholder="Write your Restaurant Review here"></textarea> 
                      <span asp-validation-for="review"></span><br>
                    </div>
                    <div class="form-group">
                      <label for="VisitDate">Date</label>
                     <input type="date" asp-for="visit_date"   name="visit_date" class="form-control" placeholder="date">
                      <span asp-validation-for="visit_date"></span><br>

                     <!-- name takes priority asp-for, type takes priority over what asp-for self assign is for. if type is empty  -->
                    </div>
                    <select asp-for="stars" name="stars">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>

                    </select>
                    <button type="submit" class="btn btn-default">Send Review</button>

                     <div class="row form-group">
                        @{
                            if(TempData["dateError"] != null)
                            {
                                @TempData["dateError"]
                            }
                        }
                        <!-- <input type="submit" value="submit"> -->
                    </div>
                    
                  </form>

                  <hr>
                </div>
              </div>
            </div>
        </div>
      </section>