<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    
    <!-- <link rel="stylesheet" type="text/css" href="/css/style.css"/> -->
    
    <title>Random Number Generator</title>
</head>
<body>
    <div>
        Random Passcode (Passcode number: @ViewBag.Count)
        <h1>         
                <p>P/W: @ViewBag.Password</p>
        </h1>
        <button type="submit" class="btn btn-default submit">Generate</button>
        <button method="post" href="clear">clear</button>
        <p>Press refresh to regen and up the count. Buttons in progress</p>
    </div>
    <!-- <h1>
        <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im VipulM.", "I am Creative.", "I Love Design.", "I Love to Develop." ]'>
            <span class="wrap"></span>
        </a>
    </h1> -->





</body>
</html>